* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
}

header {
  text-align: center;
  position: static;
  font-size: 200%;
}

section {
  float: left;
  background-color: #cfcfcf;
  border: solid 1px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  height: 190px;
}

article {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  height: 180px;
}

article:hover {
  overflow-y: scroll;
}

.section_header {
  position: relative;
  margin: 0;
  top: 0;
  border: solid 1px;
  text-align: center;
  height: 50px;
}

#chicken_header {
  background-color: #ffa6a6;
}
#beef_header {
  background-color: #fb0808;
}
#sushi_header {
  background-color: #e5e7a6;
}

#mobile_header {
  visibility: hidden;
  font-family: Tahoma, Gadget, sans-serif;
  color: #000000;
  font-size: 24px;
  position: absolute;
  left: 10px;
}

.mobile_section_header {
  display: none;
  overflow: hidden;
}

/* Desktop View  */
@media (min-width: 992px) {
  section {
    width: 32%;
  }

  #chicken_header {
    left: 45%;
    width: 55%;
  }
  #beef_header, #sushi_header {
    left: 60%;
    width: 40%
  }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 991px) {
  section  {
    margin-right: 10px;
  }
  #chicken_section {
    width: 48%;
  }
  #beef_section {
    width: 48%;
  }
  #sushi_section {
    clear: both;
  }

  #chicken_header {
    left: 45%;
    width: 55%;
  }
  #beef_header {
    left: 60%;
    width: 40%
  }
  #sushi_header {
    left: 80%;
    width: 20%
  }
}

/* Mobile View */
@media (max-width: 767px) {
  section .section_header {
    width: 100%;
  }
  #normal_header {
    visibility: hidden;
  }
  #mobile_header {
    visibility: visible;
  }
  .section_header {
    font-size: 100%;
    position: static;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .mobile_section_header {
    display: inline;
  }
  #chicken_header #beef_header #sushi_header {
    width: 100%;
  }
}
