/**** GENERAL STUFF ****/
body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: Oxygen;
}

a {
  color: #100;
}

hr {
  width: 50%;
}
/**** GENERAL STUFF END ****/


/**** NAVIGATION STUFF START ****/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 5px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 200%;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand {
  vertical-align: middle;
}

#collapsible-nav {
  width: 100%;
}
#nav-list {
  background-color: #cf8957;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  font-size: 150%;
}
#nav-list a:hover {
  background: #fff;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -45px;
}
/**** NAVIGATION STUFF END ****/


/**** CONTENT STUFF *****/
#head-title {
  font-size: 200%;
  padding-top: 5px;
  font-weight: bold;
}

.article_section {
  background-color: #cf8957;
  color: #951C49;
  padding-left: 10px;
  padding-right: 10px;
  height: 700px;
}

#chicken_header, #beef_header, #sushi_header {
  padding-top: 10px;
}

/**** CONTENT STUFF END *****/
